body {
    font-family: "Comfortaa", serif;
    font-size: 1.2rem;
    line-height: 1.7em;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    color: white;
    background-image: url("bodyf.jpg");
    background-size: cover; 
}
*{
    box-sizing: border-box;
}
header{
    position: fixed;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 3em 6.25em auto 16em;
    gap: 10px;
    align-items: center; 
    margin: 1em;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20%;
    height: 70px;
    
}

.logo {
    grid-column: 1; 
}

.title {
    grid-column: 2;
}

.history,.back{
    margin-right: 2em;
    grid-column: 4; 
    text-align: end;
}


.fon {
    margin-top: 0;
    margin-left: 0;
    width: 100vw; 
    height: 75vh;
    object-fit: cover; 
    z-index: -1; 
    filter: brightness(60%);
    animation: fadeIn 2s ease-in-out forwards; 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}

.fon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 75vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);
}
.h1-container {
    background-color: rgba(0, 0, 0, 1);
}

.h1-container h1 {
    position: absolute;
    bottom: 28%; 
    left: 5%; 
    font-size: 3rem;
    max-width: 70%;
    animation: fadeIn 2s ease-in-out forwards; 
    line-height: 1.3em;
}
.top5{
    font-family: "Press Start 2P", serif;
    font-size: 4rem;
}
.oglav{
    background-color:  rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1em 6em;
}

.oglav h2{
    font-family: "Press Start 2P", serif;
    color: #d7cae2;
    text-shadow:   
            0 0 20px #411669,
            0 0 40px #8a2be2,
            0 0 60px #8a2be2;
    flex-grow:1.5;
    font-size: 1.5em;
   
}
.oglav ul{
    flex-grow:2;
    
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    position: relative;
    transition: color 0.3s ease;
}
a:hover {
    color: #badc5c;
  }


.round_photo{
    border-radius: 50%; 
    object-fit: cover;
    width: 600px; 
    height: 600px;   
    box-shadow: 
        0 0 5px #8a2be2,
        0 0 20px #8a2be2,
        0 0 40px #8a2be2,
        0 0 60px #00ffff, 
        0 0 80px #00ffff;
    animation: neonGlow 2s infinite alternate; 
}

@keyframes neonGlow {
    from {
        box-shadow: 
            0 0 5px #8a2be2,
            0 0 20px #8a2be2,
            0 0 40px #8a2be2,
            0 0 60px #00ffff, 
            0 0 80px #00ffff;
    }
    to {
        box-shadow: 
            0 0 10px #8a2be2,
            0 0 30px #8a2be2,
            0 0 50px #8a2be2,
            0 0 60px #8a2be2,
            0 0 100px #00ffff;
    }
}

.puzzles {
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 0px; 
    margin: 20px;
}

section:not(.form_text) {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    gap: 20px;
}
.form_text p{
    font-size: 2rem;
}

p{
    text-indent: 1em;
}
h3{
    text-indent: 1em;
    font-size: 2.6rem;
}
.form-container {
    background-color: rgba(151, 18, 199, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #badc5c;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

.form-group input {
width: 100%;
padding: 8px 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 14px;
}

.form-group input:focus {
    outline: none;
    border-color: #f8c7ff;
}

.form-group button[type="submit"] {
    background-color: #530a62;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form-group button[type="submit"]:hover {
    background-color: #badc5c;
}
.forma{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2em 4em;
    gap: 3em;
}
footer p{
    text-align: center;
    white-space: nowrap;
}

.contentPsy ul{
    margin: 10px 0;
    padding-left: 1em;
}

.contentPsy {
    max-width: 90%;
    margin: 1em;
    
    padding: 2em;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 8px;
}
.contentPsy h1{
    font-family:"Press Start 2P", serif;
}

.message-container {
    
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
    margin-top: 20%;
}

.body2{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    height: 100vh;
}
@media (max-width: 768px) {
    header {
        grid-template-columns: repeat(4, auto) ;
        justify-content: space-between;
        gap: 5px;
        height: auto;
    }

    .h1-container h1 {
        font-size: 2.5rem;
        max-width: 90%; 
    }

    .round_photo {
        width: 100%; 
        max-width: 300px;
        height: auto;
    }

    .oglav {
        flex-direction: column;
        gap: 10px;
        margin: 1em 2em; 
    }

    .form-container {
        padding: 10px;
        max-width: 90%; 
    }
    section {
        grid-template-columns: 1fr; 
    }

    footer {
        font-size: 0.9rem; 
    }
}

@media (max-width: 480px) {

    .h1-container h1 {
        font-size: 2rem;
    }

    .round_photo {
        width: 90%;
        max-width: 200px;
        height: auto;
    }

    .form-container {
        padding: 5px;
        max-width: 90%;
    }

    p, h3 {
        font-size: 1rem; 
    }
}