body {
    font-family: Comfortaa;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
}

.fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 75vh;
    object-fit: cover; 
    z-index: -1; 
    filter: brightness(60%);
    animation: fadeIn 2s ease-in-out forwards; 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}
.fon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 75vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none; /* Делает слой невидимым для кликов */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}
.history{
    color: white;
    margin-right: 4em;
}