body {
    font-family: "Comfortaa", serif;
    font-size: 1.5rem;
    line-height: 1.7em;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    color: white;
    background-image: url("bodyf.jpg");
    background-size: cover; 
}
*{
    box-sizing: border-box;
}
header{
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20%;
    
}
.history{
    margin-right: 2em;
}


.fon {
    margin-top: 0;
    margin-left: 0;
    width: 100vw; 
    height: 75vh;
    object-fit: cover; 
    z-index: -1; 
    filter: brightness(60%);
    animation: fadeIn 2s ease-in-out forwards; 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}

.fon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 75vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);
}
.h1-container {
    background-color: rgba(0, 0, 0, 1);
}

.h1-container h1 {
    position: absolute;
    bottom: 28%; 
    left: 5%; 
    font-size: 4.6rem;
    max-width: 70%;
    animation: fadeIn 2s ease-in-out forwards; 
    line-height: 1.3em;
}
.top5{
    font-family: "Press Start 2P", serif;
    font-size: 4rem;
}
.oglav{
    background-color:  rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    margin-left: 3em;
    justify-content: space-between;
    align-items: center;
    margin: 1em 6em;
}

.oglav h2{
    font-family: "Press Start 2P", serif;
    color: #d7cae2;
    text-shadow:   
            0 0 20px #411669,
            0 0 40px #8a2be2,
            0 0 60px #8a2be2;
    flex-grow:1.5;
    font-size: 1.5em;
   
}
.oglav ul{
    flex-grow:2;
    
}

a:not(.history){
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    position: relative;
    transition: color 0.3s ease;
}
a:hover {
    color: #badc5c;
  }


.round_photo{
    border-radius: 50%; 
    object-fit: cover;
    width: 650px; 
    height: 650px;   
    box-shadow: 
        0 0 5px #8a2be2,
        0 0 20px #8a2be2,
        0 0 40px #8a2be2,
        0 0 60px #00ffff, 
        0 0 80px #00ffff;
    animation: neonGlow 2s infinite alternate; 
}

@keyframes neonGlow {
    from {
        box-shadow: 
            0 0 5px #8a2be2,
            0 0 20px #8a2be2,
            0 0 40px #8a2be2,
            0 0 60px #00ffff, 
            0 0 80px #00ffff;
    }
    to {
        box-shadow: 
            0 0 10px #8a2be2,
            0 0 30px #8a2be2,
            0 0 50px #8a2be2,
            0 0 60px #8a2be2,
            0 0 100px #00ffff;
    }
}

.puzzles {
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 0px; /* Расстояние между секциями */
    margin: 20px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    gap: 20px;
}

.sudoku{
    margin-left: -10%; 
    margin-top: 3em;
}
.tetris{
    margin-left: 20%;
    margin-top: 3em;
}
.sapyor{
    margin-left: 20%;
    margin-top: 3em;
}
p{
    text-indent: 1em;
}
h3{
    text-indent: 1em;
    font-size: 2.6rem;
}
